/* Steve's code from in-class review 6/6/2019 */

/* html, body {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: 50px 1fr repeat(4, 200px) 1fr repeat(4, 200px) 1fr 400px; 
    grid-template-columns: 1fr;
    grid-template-areas: 
        "nav"
        "feature1"
        "smalls11"
        "smalls12"
        "smalls13"
        "smalls14"
        "feature2"
        "smalls21"
        "smalls22"
        "smalls23"
        "smalls24"
        "feature3"
        "footer";
    }

nav {
    grid-area: nav;
    background-color: gray;
}

#feature1 {
    grid-area: feature1;
}
img {
    max-width: 100%; 
}
div {

    background-color: red;
}
#small11 {
    grid-area: smalls11;
}

#small12 {
    grid-area: smalls12;
}

#small13 {
    grid-area: smalls13;
}

#small14 {
    grid-area: smalls14;
}

#feature2 {
    grid-area: feature2;
}

#small21 {
    grid-area: smalls21;
}

#small22 {
    grid-area: smalls22;
}

#small23 {
    grid-area: smalls23;
}

#small24 {
    grid-area: smalls24;
}

#feature3 {
    grid-area: feature3;
}

footer {
    grid-area: footer;
}

@media screen and (min-width: 550px) and (max-width: 1100px) {
    body {
        grid-template-rows: 50px 1fr repeat(2, 200px) 1fr repeat(2, 200px) 1fr 400px; 
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "nav nav"
            "feature1 feature1"
            "smalls11 smalls12"
            "smalls13 smalls14"
            "feature2 feature2"
            "smalls21 smalls22"
            "smalls23 smalls24"
            "feature3 feature3"
            "footer footer";

    }
}

@media screen and (min-width: 1100px) {
    body {
        grid-template-rows: 50px 1fr 200px 1fr 200px 1fr 400px; 
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            "nav nav nav nav"
            "feature1 feature1 feature1 feature1"
            "smalls11 smalls12 smalls13 smalls14"
            "feature2 feature2 feature2 feature2"
            "smalls21 smalls22 smalls23 smalls24"
            "feature3 feature3 feature3 feature3"
            "footer footer footer footer";
    }
} */

/* Nathan's Code as of 6/5/2019 - I was missing the grid-template-area */

html, body {
    margin: 0;
}

div {
    background-color: #999999;
}

body {
    display: grid;
    grid-template-rows: 150px 1fr 1fr repeat(4, 200px) 1fr 1fr repeat(4,200px) 1fr 1fr 150px 400px;
    grid-template-columns: 1fr;
    grid-template-areas: "header"
                        "jumbo1"
                        "jumbotext1"
                        "one"
                        "two"
                        "three"
                        "four"
                        "jumbo2"
                        "jumbotext2"
                        "five"
                        "six"
                        "seven"
                        "eight"
                        "jumbo3"
                        "jumbotext3"
                        "socialmedia"
                        "footer";
}

img {
    max-width: 100%;
}

#header {
    /* grid-area: header - need to define grid-area */
    
    grid-area: header;
    background-color: gray;
    width: 100vw;
}

#jumbo1 {
    grid-area: jumbo1;
    background-color: #333333;
    
}

#jumbotext1 {
    grid-area: jumbotext1;
    background-color: ivory;
    
}

#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

#four {
    grid-area: four;
}

#jumbo2 {
    grid-area: jumbo2;
    background-color: #333333;
    
}

#jumbotext2 {
    grid-area: jumbotext2;
    background-color: ivory;
    
}

#five {
    grid-area: five;
}

#six {
    grid-area: six;
}

#seven {
    grid-area: seven;
}

#eight {
    grid-area: eight;
}

#jumbo3 {
    grid-area: jumbo3;
    background-color: #333333;
    
}

#jumbotext3 {
    grid-area: jumbotext3;
    background-color: ivory;
    
}


#socialmedia {
    grid-area: socialmedia;
    background-color: tan;
}

#footer {
    grid-area: footer;
    background-color: gray;
}

@media screen and (min-width: 550px) and (max-width: 1100px) {
    body {
      grid-template-rows: 150px 1fr repeat(2, 200px) 1fr repeat(2,200px) 1fr 150px 400px;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "header header"
                           "jumbo1 jumbotext1"
                           "one two"
                           "three four"
                           "jumbo2 jumbotext2"
                           "five six"
                           "seven eight"
                           "jumbo3 jumbotext3"
                           "socialmedia socialmedia"
                           "footer footer";
    }
    div {
        background-color: #999999;
        margin: 20px;
    }
} 


  @media screen and (min-width: 1100px) {
    body {
      grid-template-rows: 150px 1fr 200px 1fr 200px 1fr 150px 400px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-areas: "header header header header"
                           "jumbo1 jumbo1 jumbotext1 jumbotext1"
                           "one two three four"
                           "jumbo2 jumbo2 jumbotext2 jumbotext2"
                           "five six seven eight"
                           "jumbo3 jumbo3 jumbotext3 jumbotext3"
                           "socialmedia socialmedia socialmedia socialmedia"
                           "footer footer footer footer";
    }
    div {
        margin: 10px; 
    }
  }